.btn  {
    background: none;
    padding: 15px;
    margin: 10px;
    color: $primary-color;
    border-radius: 25px;
    border: 2px solid $primary-color;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    color: white;
}
.btn.gradient.noborder:hover, .btn.gradient:active {
    background-color: $primary-color;
    border-color: none;
}

.btn.fill:hover {
    background-color: $primary-color;
    color: $third-color;
}

.btn.square {
    border-radius: 0;
    color: $primary-color;
    margin-left: 0;
    margin-right: 0;
 }
 .btn.shadow:hover {
    box-shadow: 5px 5px $primary-color;
}


