.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.card {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    border: 5px solid $secondary-color;
    width: auto;
    height: fit-content;
    padding: 20px;
    margin: 10px auto;
    color: black;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
}

.card-link {
    text-decoration: none;
    color: rgb(204, 204, 204);
}
a:hover {
    text-decoration: none;
    color: rgb(215, 215, 215);
}

.card border {
    background-color: none;
    border-style: solid;
    border-width: 4px;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 100%;
    border-radius: 20px;
}

h2 {
    margin-bottom: 16px;
    font-size: 2em;
    margin-top: 1em;
    color: $secondary-color;
    font-family: 'Yeseva One', cursive;
}
.btn {
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}

