.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 5em;
    background-color: #f3ede1;
}
.footer-content h3 p {
    max-width: 500px;
}
.footer-links a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: $secondary-color;
}

.footer-links li {
    display: inline-block;
}

.footer-links a:hover {
    color: $primary-color;
}

.footer-content h3 {
    font-size: revert;
}
.footer-content li {
    align-items: center;
}
.footer-content p {
    text-align: center;
    color:#727272;
}