.about, .schedule {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    padding: 2em;
}

.about p {
    font-family: 'Yeseva One', cursive;
    color: $secondary-color;
    font-size: 24px;
    text-align: center;
}

.schedule ul {
    margin: 0 auto;
}

.registration {
    display: flex;
    justify-content: center;
}

.speakers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    padding: 2em;
}
.card border {
    justify-content: space-between;
    width: 45%;
}

ul.footer-links {
    text-align: center;
}
.sponsers {
    text-align: center;
}

.sponsers li h3 {
    font-size: larger;
    color: $secondary-color;
    padding: 5px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    font-size: 15px;
    padding: 3px;
    font-family: 'Lato', sans-serif;
}

.footer-info li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: $secondary-color;
}

.footer-info li {
    display: inline-block;
}