.about, .schedule {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    padding: 2em;
}

.about p {
    font-family: 'Yeseva One', cursive;
    color: $secondary-color;
    font-size: 16px;
    text-align: left;
    max-width: 50%;
    margin: 0;
}
.about-container {
    display: flex;
}

.about img {
    width: 25%;
    margin: auto;
}
.schedule {
    margin: 0;
    padding: 0;
}
.schedule-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 0 auto;
    padding: 5em;
    background-color: $primary-color;
    text-align: center;
    flex-direction: column;
}

.schedule-item {
    padding: 5px;
    color: $third-color;
    width: 100%;
}
.schedule-item button {
    color: $secondary-color;
    border-color: $secondary-color;
}
.schedule-itembtn.gradient.noborder:hover {
    background-color: $secondary-color;
    color: $third-color;
}

.schedule-item h3 {
    font-family: 'Yeseva One', cursive;
    color: $secondary-color;
}
.schedule-item button {
    width: 20%;
}
.registration {
    display: flex;
    justify-content: center;
}

.speakers {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    padding: 2em;
}
.card border {
    justify-content: space-between;
    width: 45%;
}

ul.footer-links {
    text-align: center;
}
.sponsers {
    text-align: center;
}

.sponsers li h3 {
    font-size: larger;
    color: $secondary-color;
    padding: 5px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    font-size: 15px;
    padding: 3px;
    font-family: 'Lato', sans-serif;
}

.footer-info-item {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: $secondary-color;
    display: inline-block;
    color: $secondary-color;
}

