.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    color: $third-color;
    padding: 0% 1em;
    top:0%;
    left:0%;
    right:0%;
}

.nav-links a {
    color: $third-color;
}

.logo img {
    padding: 1em;
    z-index: 20;
    width: 3em;
    width: 3em;
}

li a {
    text-decoration: none;
}

li {
    list-style: none;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: $secondary-color;
    border-radius: 25px;
    transition: 0.3s ease;
}
.menu li {
    padding: 8px 14px;
    background-color: none;
    font-family: 'Lato', sans-serif;}

.services {
    position: relative;
}

.dropdown {
    background-color: $primary-color;
    padding: 1em 0;
    position: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 25px;
    top: 35px;
    margin-left: -14px;
    z-index: 100;
}
 
 .dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: $secondary-color;
}
.services:hover .dropdown {
    display: block;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        text-align:center;
        padding: 16px 0;
        background-color: $primary-color;
    }
    .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu {
        display: block;
    }
    .hamburger {
        display:block;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .content-container {
        flex-direction: column;
    }
    
}