.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(135deg, rgb(243, 64, 121) 40%, rgb(252, 137, 77));
    color: #fff;
    padding: 0% 1em;
    top:0%;
    left:0%;
    right:0%;
    z-index: 5;
}

.nav-links a {
    color: #fff;
}

.logo img {
    padding: 1em;
    z-index: 20;
    width: 3em;
    width: 3em;

}

li a {
    text-decoration: none;
}

li {
    list-style: none;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;

}
.menu li:hover {
    background-color: #fc894d;
    border-radius: 25px;
    transition: 0.3s ease;
}
.menu li {
    padding: 8px 14px;
    background-color: none;
    font-family: 'Lato', sans-serif;}

.services {
    position: relative;
}

.dropdown {
    background-color: #f34079;
    padding: 1em 0;
    position: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 25px;
    top: 35px;
    margin-left: -14px;
}
 
 .dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #fc894d;
}
.services:hover .dropdown {
    display: block;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        text-align:center;
        padding: 16px 0;
        background-image: linear-gradient(135deg, rgb(243, 64, 121) 40%, rgb(252, 137, 77));

    }
    .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu {
        display: block;
    }
    .hamburger {
        display:block;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .content-container {
        flex-direction: column;
    }
    
}