.logo {
    display: inline-block;
    width: fit-content;
    margin: 10;
    padding-left: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
}
.nav-links li {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}

 .nav-links a { 
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.nav-links a:hover {
    color: #fc894d
}

input[type=checkbox] {
    display: none;
} 

// .hamburger   {
//     display:none;
// }

@media only screen 
  and (max-width: 736px) 
  and (orientation: portrait) {

    .navbar {
        align-items:center;
    }

    .navbar ul{
        position:absolute;
        top:34px;
        width:100%;
        background:darkgrey;
        height:0;
        overflow:hidden;
        transition:height 1s;
    }
    .navbar li{
        display:block;
        width:100%;
        padding:5px; 
       }

    .hamburger {
    display:block;
    color: aqua;
    padding:0px 10px;
    font-size:30px;
    cursor:pointer;
    }
 
    .hamburger:hover{
        color:black;
    }
 
    .navbar a {
        display:block;
    }
 
    #checkbox_toggle:checked ~ ul{
        height:140px;
        transition: height 1s;
    }
 
    .navbar li:hover{
        background:lightgrey;
    }

}
